In [1]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_json('/content/drive/MyDrive/agora_hack_products.json')

In [3]:
df.head()

,product_id,name,props,is_reference,reference_id
0,0007302f2fe1d54d,Классическая сплит-система ROYAL CLIMA PANDORA...,"[Класс энергоэффективности\tA, Мощность конд...",False,f497219eb0077f84
1,000740b6c1cc763e,Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...,"[Экран\t6.43"" (2400x1080) AMOLED 60 Гц, 4 каме...",True,None
2,0039af5efceac4ab,Холодильник Бирюса 118,[Мощность замораживания 4 кг/сутки],False,28085e941cde1639
3,004f2158acb8165c,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта,"[Объем видеопамяти\t6144 МБ, Частота памяти\...",False,9afe55bb4bf1e8a8
4,005cddb29e1677ec,"Кофемашина Saeco Lirika One Touch Cappuccino, ...","[Приготовление капучино\tавтоматическое, Мате...",False,1f21918ceb5d345c

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3251 entries, 0 to 3250
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    3251 non-null   object
 1   name          3251 non-null   object
 2   props         3251 non-null   object
 3   is_reference  3251 non-null   bool
 4   reference_id  2780 non-null   object
dtypes: bool(1), object(4)
memory usage: 104.9+ KB

In [5]:
df.reference_id.value_counts()

116c9e6140857b4b    37
d4ebc4a26700d5e0    34
b91a686bdeee3b59    22
d7d28d1201ba8bde    22
b6f6e9b5ead263ae    21
                    ..
53a206146d4ecba5     1
c24becbb7f823904     1
e2e227ddf732c1ca     1
d82bc0afa73ab4e0     1
c23587593162a13a     1
Name: reference_id, Length: 471, dtype: int64

In [8]:
df['string_props'] = df['props'].apply(lambda x: ' '.join(x).lower())

In [9]:
df.head()

,product_id,name,props,is_reference,reference_id,string_props
0,0007302f2fe1d54d,Классическая сплит-система ROYAL CLIMA PANDORA...,"[Класс энергоэффективности\tA, Мощность конд...",False,f497219eb0077f84,класс энергоэффективности\ta мощность кондиц...
1,000740b6c1cc763e,Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...,"[Экран\t6.43"" (2400x1080) AMOLED 60 Гц, 4 каме...",True,None,"экран\t6.43"" (2400x1080) amoled 60 гц 4 камеры..."
2,0039af5efceac4ab,Холодильник Бирюса 118,[Мощность замораживания 4 кг/сутки],False,28085e941cde1639,мощность замораживания 4 кг/сутки
3,004f2158acb8165c,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта,"[Объем видеопамяти\t6144 МБ, Частота памяти\...",False,9afe55bb4bf1e8a8,объем видеопамяти\t6144 мб частота памяти\t1...
4,005cddb29e1677ec,"Кофемашина Saeco Lirika One Touch Cappuccino, ...","[Приготовление капучино\tавтоматическое, Мате...",False,1f21918ceb5d345c,приготовление капучино\tавтоматическое матери...

In [10]:
df['text'] = df['name'] + '. ' + df['string_props']

In [11]:
df.head()

,product_id,name,props,is_reference,reference_id,string_props,text
0,0007302f2fe1d54d,Классическая сплит-система ROYAL CLIMA PANDORA...,"[Класс энергоэффективности\tA, Мощность конд...",False,f497219eb0077f84,класс энергоэффективности\ta мощность кондиц...,Классическая сплит-система ROYAL CLIMA PANDORA...
1,000740b6c1cc763e,Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...,"[Экран\t6.43"" (2400x1080) AMOLED 60 Гц, 4 каме...",True,None,"экран\t6.43"" (2400x1080) amoled 60 гц 4 камеры...",Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...
2,0039af5efceac4ab,Холодильник Бирюса 118,[Мощность замораживания 4 кг/сутки],False,28085e941cde1639,мощность замораживания 4 кг/сутки,Холодильник Бирюса 118. мощность замораживани...
3,004f2158acb8165c,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта,"[Объем видеопамяти\t6144 МБ, Частота памяти\...",False,9afe55bb4bf1e8a8,объем видеопамяти\t6144 мб частота памяти\t1...,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта. объем...
4,005cddb29e1677ec,"Кофемашина Saeco Lirika One Touch Cappuccino, ...","[Приготовление капучино\tавтоматическое, Мате...",False,1f21918ceb5d345c,приготовление капучино\tавтоматическое матери...,"Кофемашина Saeco Lirika One Touch Cappuccino, ..."

In [13]:
df['text'] = df['text'].apply(lambda x: x.replace('\t', ' '))

Create data for learning

In [18]:
data = df[df['is_reference'] == False].loc[:, ['text', 'reference_id']]

In [19]:
data.head()

                                                text      reference_id
0  Классическая сплит-система ROYAL CLIMA PANDORA...  f497219eb0077f84
2  Холодильник Бирюса 118. мощность  замораживани...  28085e941cde1639
3  ASUS TUF-GTX1660S-O6G-GAMING Видеокарта. объем...  9afe55bb4bf1e8a8
4  Кофемашина Saeco Lirika One Touch Cappuccino, ...  1f21918ceb5d345c
6  Lenovo 62A8KAT1EU Монитор. яркость 250   кд/м²...  8f9c8fcf9cb2862c

In [20]:
X = data['text']
y = data['reference_id']

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Model

In [23]:
import re
TOKEN_RE=re.compile(r'[\w\d]+')
def tokenize_text_simple_regex(txt, min_size=4):
  txt=txt.lower()
  all_toks=TOKEN_RE.findall(txt)
  return [tok for tok in all_toks if len(tok)>=min_size]

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.neural_network import MLPClassifier

MAX_DF=0.8
MIN_COUNT=5
sklearn_pipeline = Pipeline((('vect', TfidfVectorizer(tokenizer=tokenize_text_simple_regex,
                                                      max_df=MAX_DF,
                                                      min_df=MIN_COUNT)),
                             ('cls', MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(350, ), random_state=1))))
sklearn_pipeline.fit(X_train, y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_df=0.8, min_df=5,
                                 tokenizer=<function tokenize_text_simple_regex at 0x7fd266a408c0>)),
                ('cls',
                 MLPClassifier(alpha=1e-05, hidden_layer_sizes=(350,),
                               random_state=1, solver='lbfgs'))])

In [25]:
sklearn_pipeline.score(X_test, y_test)

0.5881294964028777

Bert